body {
    background-color: #000;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #333;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.about-me, .skills {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
    background-color: #222;
    border-radius: 8px;
}

h2 {
    font-size: 2rem;
    border-bottom: 2px solid #666;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #444;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    margin-top: 2rem;
}
